body {
    font-family: sans-serif;
    font-size: 12px;
}

.left {
    width: 49%;
    float: left;
}

.right {
    width: 49%;
    float: right;
}

.full {
    width: 100%;
}

.container {
    width: 100%;
    display: inline-block;
}

.visible {
}

.invisible {
    display: none;
}

div.spacer {
    margin-top: 1em;
}

ol.progress {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ol.progress li {
    display: inline-block;
    text-align: center;
    line-height: 3em;
}

ol.progress[data-progress-steps="2"] li { width: 49%; }
ol.progress[data-progress-steps="3"] li { width: 33%; }
ol.progress[data-progress-steps="4"] li { width: 24%; }
ol.progress[data-progress-steps="5"] li { width: 19%; }
ol.progress[data-progress-steps="6"] li { width: 16%; }
ol.progress[data-progress-steps="7"] li { width: 14%; }
ol.progress[data-progress-steps="8"] li { width: 12%; }
ol.progress[data-progress-steps="9"] li { width: 11%; }

ol.progress li.progress-done {
    color: yellowgreen;
    border-bottom: 4px solid yellowgreen;
}

ol.progress li.progress-curr {
    color: black;
    border-bottom: 4px solid red;
}

ol.progress li.progress-todo {
    color: silver;
    border-bottom: 4px solid silver;
}

ol.progress li:after {
    content: "\00a0\00a0";
}

ol.progress li:before {
    position: relative;
    bottom: -1.6em;
    float: left;
    left: 50%;
    line-height: 1em;
}

ol.progress li.progress-done:before {
    content: "\2713";
    color: white;
    background-color: yellowgreen;
    height: 1.2em;
    width: 1.2em;
    line-height: 1.2em;
    border: none;
    border-radius: 1.2em;
    font-size: 1.5em;
}

ol.progress li.progress-curr:before {
    content: "\2605";
    color: white;
    background-color: red;
    border-radius: 1.2em;
    height: 1.2em;
    width: 1.2em;
    line-height: 1.2em;
    border: none;
    font-size: 1.5em;
    bottom: -1.6em;
}

ol.progress li.progress-todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 1.5em;
    bottom: -1.6em;
}

button.next {
    display: block;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 138.5%;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #659635;
    background: -moz-linear-gradient(top,
                                     #CFE782 0%,
                                     #9BCB2A 2%,
                                     #5DA331 97%,
                                     #659635 100%);
    text-shadow: -1px -1px 2px #777777;
    color: #ffffff;
    border-radius: 10px;
    margin: 1em;
}

button.enabled {
    display: block;
    float: left;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 138.5%;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #659635;
    background: -moz-linear-gradient(top,
                                     #CFE782 0%,
                                     #9BCB2A 2%,
                                     #5DA331 97%,
                                     #659635 100%);
    text-shadow: -1px -1px 2px #777777;
    color: #ffffff;
    border-radius: 10px;
    margin: 1em;
}

button.disabled {
    display: block;
    float: left;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 138.5%;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #666666;
    background-color: #CCCCCC;
    text-shadow: -1px -1px 2px #777777;
    color: #ffffff;
    border-radius: 10px;
    margin: 1em;
}

ul.teamlist {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
}

ul.teamlist li {
    font-weight: bold;
    border: 1px solid transparent;
}

ul.teamlist li.is-selected {
    border: 1px solid;
}

ul.teamlist li.is-complete {
    color: #77CC77;
}

ul.teamlist li.is-error {
    color: #CC7777;
}

ul.teamlist li:hover {
    background-color: #DDDDDD;
}

table.pretty {
    border: 1px solid;
    width: 42em;
}

table.pretty caption {
    background-color: #CCCCCC;
    border: 1px solid;
    padding: 0.5em;
    text-align: left;
}

table.pretty caption.is-complete {
    background-color: #77CC77;
}

table.pretty caption.is-error {
    background-color: #CC7777;
}

table.pretty thead {
    text-align: left;
    display: block;
    width: 100%;
}

table.pretty th {
    border-bottom: 1px solid;
}

table.pretty tbody {
    height: 23em;
    display: block;
    overflow: auto;
}

table.pretty tbody.tall {
    height: 52em;
}

table.pretty tbody tr.removed {
    font-weight: lighter;
    text-decoration: line-through;
}

table.pretty tbody tr.is-selected {
    outline: thin solid black;
}

table.pretty tbody tr:nth-child(even) {
    background-color: #EEEEEE;
}

table.pretty tbody tr:hover {
    background-color: #DDDDDD;
}


table.pretty th.pname1,  td.pname1  { width: 10.2em; text-align: left;   }
table.pretty th.record,  td.record  { width:  4.2em; text-align: center; }
table.pretty th.innings, td.innings { width:  4.4em; text-align: right;  }
table.pretty th.era,     td.era     { width:  2.8em; text-align: right;  }
table.pretty th.vsba,    td.vsba    { width:  3.4em; text-align: right;  }
table.pretty th.innpg,   td.innpg   { width:  3.3em; text-align: right;  }
table.pretty th.whip,    td.whip    { width:  3.7em; text-align: right;  }
table.pretty th.sop9,    td.sop9    { width:  3.3em; text-align: right;  }
table.pretty th.eff,     td.eff     { width:  2.9em; text-align: right;  }

table.pretty th.bname1, td.bname1 { width:  15.6em; text-align: left;   }
table.pretty th.pos,    td.pos    { width:   2.5em; text-align: left;   }
table.pretty th.games,  td.games  { width:   4.1em; text-align: right;  }
table.pretty th.ba,     td.ba     { width:   2.9em; text-align: right;  }
table.pretty th.hr,     td.hr     { width:   2.2em; text-align: right;  }
table.pretty th.sb,     td.sb     { width:   2.2em; text-align: right;  }
table.pretty th.sa,     td.sa     { width:   2.9em; text-align: right;  }
table.pretty th.oba,    td.oba    { width:   2.9em; text-align: right;  }
table.pretty th.rpg,    td.rpg    { width:   2.9em; text-align: right;  }

table.pretty th.pname2,  td.pname2  { width: 17.7em; }
table.pretty th.throws,  td.throws  { width:  4.5em; }
table.pretty th.speed,   td.speed   { width:  3.9em; }
table.pretty th.control, td.control { width:  4.5em; }
table.pretty th.bunt,    td.bunt    { width:  2.9em; }
table.pretty th.fatigue, td.fatigue { width:  4.5em; }

table.pretty th.bname2, td.bname2 { width:  15.9em; }
table.pretty th.pos1,   td.pos1   { width:   1.8em; }
table.pretty th.pos2,   td.pos2   { width:   1.8em; }
table.pretty th.hits,   td.hits   { width:   2.5em; }
table.pretty th.power,  td.power  { width:   2.3em; }
table.pretty th.hnr,    td.hnr    { width:   2.5em; }
table.pretty th.run,    td.run    { width:   2.3em; }
table.pretty th.range,  td.range  { width:   2.3em; }
table.pretty th.arm,    td.arm    { width:   2.3em; }


span.heading {
    font-weight: bold;
}
