S00
S01
S02
Earl\ Weaver\ Baseball
FA
AllStars
stadiums
recover
test
tmp
temp.file*
*.o
*.bak
*.db
*.ods
*.csv
*.txt

# executables
calc_avg_park_size
check_games
draft
ewbamiga2dos
ewbcopyleague
ewbdos2amiga
ewbfielding
fixstats
games_played
gen_players
injuries
lottery
print_colors
print_parks
print_rosters
print_rosters2
print_team_totals
rating_ratios
readgames
reset_team_colors
schedule
sort_players
standings
updateewbcolors
updateewbfielding
updateewbpitching
updateewbratings
updateewbstats
